.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url("https://cdn.lowgif.com/full/7951af76d6523f22-shooting-stars-gifs-google-search-web-design-pinterest.gif");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.home_header {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  align-items: center;
}

.home_header a {
  margin-right: 20px;
  text-decoration: none;
  color: black;
  font-size: 15px;
}

.home_headerLRight {
  display: flex;
  align-items: center;
  min-width: 13vw;
  justify-content: space-between;
  width: 300px;
}

.home_headerLeft {
  display: flex;
  align-items: center;
  min-width: 13vw;
  justify-content: space-around;
  width: 350px;
}

.home_headerLRight > .MuiSvgIcon-root {
  margin-right: 20px;
}

.home_header a:hover {
  text-decoration: underline;
}

.home_body {
  flex: 1;
  display: flex;
  margin-top: 10px;
  flex-direction: column;
}

.logo {
  object-fit: contain;
  height: 130px;
}

.img{
  height: 70px;
  
}

.img2{
  height: 60px;
  border-radius: 10px;
  background-blend-mode: soft-light;
  
}