.searchPage_header {
  display: flex;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  align-items: flex-start;
  padding: 30px;
  border-bottom: 1px solid lightgray;
}

.search_Page_logo {
  object-fit: contain;
  height: 50px;
  margin-right: 50px;
}

.searchPage_headerBody > .search > .searchPage_input {
  margin-top: 0;
  width: unset;
  margin: unset;
  max-width: unset;
}

.logo2 {
  height: 100px;
}

.search_Page_result {
  margin: 40px 0;
}

.search_Page_resultCount {
  color: teal;
  font-size: 15px;
}

.search_Page_resultTItle {
  text-decoration: none;
}
.search_Page_resultTItle :hover {
  text-decoration: underline;
}

.search_Page_resultTItle > h2 {
  font-weight: 500;
}

.search_Page_results {
  max-width: 650px;
  margin-top: 20px;
  margin-left: 240px;
  margin-bottom: 100px;
}
