.search_input {
  display: flex;
  align-items: center;
  border: 1px solid rgb(245, 162, 8);
  height: 30px;
  padding: 10px 20px;
  border-radius: 999px;
  width: 75vw;
  margin: auto;
  margin-top: 40px;
}
