.search_input {
  display: flex;
  align-items: center;
  border: 1px solid rgb(4, 141, 23);
  height: 30px;
  padding: 10px 20px;
  border-radius: 99px;
  width: 55vw;
  margin: auto;
  margin-top: 40px;
  max-width: 560;
}

.search_input > input {
  flex: 1;
  padding: 10px 20px;
  font-size: medium;
  border: none;
}

.search_input > input:focus {
  outline-width: 0px;
}

.search_inputIcon {
  color: rgb(1, 158, 41);
}

.search_buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search_buttons button {
  margin: 5px;
  padding: 7px 35px;
  background-image: -webkit-linear-gradient(top, #0c37f7d0, #1a3fa7);
  font-weight: 500;
  font-size: 16px;
  border: 1px solid black;
  border-radius: 5px;
  text-transform: inherit;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.search_buttons button:hover {
  background-color: rgb(202, 202, 200);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  font-size: 17.5px;
}

.search_buttonsHid {
  display: none !important;
}


@media (max-width: 411px) {
  .search_input {
    display: flex;
    align-items: center;
    border: 1px solid rgb(4, 141, 23);
    height: 30px;
    padding: 10px 20px;
    border-radius: 99px;
    width: 55vw;
    margin: auto;
    margin-top: 40px;
    max-width: 560;
  }

  .search_input > input {
    width: 35vw;
    padding: 10px 20px;
    font-size: medium;
    border: none;
  }

 
  
}

@media (max-width: 812px) {
  .search_input {
    display: flex;
    align-items: center;
    border: 1px solid rgb(4, 141, 23);
    height: 30px;
    padding: 10px 20px;
    border-radius: 99px;
    width: 45vw;
    margin: auto;
    margin-top: 40px;
    max-width: 560;
  }

  .search_input > input {
    width: 35vw;
    padding: 10px 20px;
    font-size: medium;
    border: none;
  }

 
  
}

@media (max-width: 600px) {
  .search_input {
    display: none;
  }

  .search_input > input {
    display: none;
  }

 
  
}